{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<div class="welcome-page">
        <h2>Handcrafting coffee, espresso and culture for our community.</h2>
        <img src="{% static 'images/homepage_image.png' %}" alt="coffee">
       
        <div class="info">
            <div class="info-content">
                <p>29 McCaul St, Toronto, ON  M5T 1V7</p>
            </div>
            <div class="info-content">
                <p>M-F: 8am-6pm</p>
                <p>Sat & Sun: Closed</p>
            </div>
            <div class="info-content">
                <p>redeyeespresso@gmail.com</p>
            </div>
        </div>
    </div>

{%endblock%}