*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

header {
    background-color: black;    
    padding: 15px;
    position: relative;
    background: url("/static/images/Header.png") 50% 0 no-repeat fixed;
}

nav a {
    float: right;
    position: relative;
    top: -30px;
    font-family: Helvetica;
    font-size: 20px;
    color: #73AE9B;
    padding: 10px;
    text-decoration: none;
}


h1 {
    color: white;
}

h2 {
    text-align: center;
}

footer {
    background-color: black;
    padding: 20px;
    color: white;
    margin: 0;
}